.head{
    width: 411px;
height:600px;
position:relative;
background: linear-gradient(180deg, #EFFFFD 0%, rgba(238, 237, 236, 0.81625) 43.75%, #EFFDFF 100%), #FFFFFF;

}
body {
    font-family: 'Proxima Nova', sans-serif;
}
.bar{
    width:40px;
    height: 4px;
    background: #15C0C8;
border-radius: 10px;
position:absolute;
left:50%;
top:18px;

}
.img5{
    position:absolute;
    right:23px;
    top:23px;
background-color:white;
padding:12px;
border-radius:50px;
}
.img{
padding-left:84px;
padding-top:62px;
padding-right:85px;


}
.img1{
padding-left:75px;
padding-bottom:3px;
padding-top:29.6px;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #E46A59;
}
.img2{
   

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;
padding-left:60px;
color: #000000;



}
.img3{
background: url(.png);
padding-left:185px;
padding-top:19px;
}
.img4{

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;
padding-left:80px;
padding-top:21px;
color: #000000;


}
.last{
padding-left:10.7px;
padding-top:8px;


font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

/* Verce Primary */

color: #3B5DAF;


}
.hey{
    min-width:196px;
    min-height:46px;
    
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(146, 146, 146, 0.2);
border-radius: 6px;
border:none;
}
.button{
    text-align: center;
    margin-top:15px;
}
